body {
  margin: 60px;
  background-color: coral;
}
.main-div {
  margin-top: 50px;
  border: 5px solid black;
  background-color: darkgray;
}
.country, .states {
  margin: 20px;
  padding: 15px;
  border: 5px solid black;
  font-weight: 600;
}
.country {
  background-color: brown;
  color: whitesmoke;
  position: sticky;
  top: 20px;
}
.states {
  background-color: whitesmoke;
}