.container {
  margin: 20px;
  display: grid;
  /* grid-template-columns: repeat(2, 15rem); */
  /* grid-template-columns: repeat(auto-fill, 15rem); */
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-gap: 1.5rem;
  justify-content: center;
  /* grid-auto-rows: 10rem; */
  /* grid-auto-columns: 20rem; */
  /* grid-auto-flow: column; */
}

.quote-featured,
.quote {
  padding: 1rem;
  border: 2px solid #fc642d;
}

.quote {
  background-color: #9e9e9e;
  border-radius: 5px;
}

.quote-featured {
  background-color: #3e3e3e;
  color: white;
  grid-column: span 2;
}